/* Phone screen */


@media only screen and (max-width:960px) {
    @font-face {
    font-family: Satoshi;
    src: url('./assets/font/Satoshi-Variable.ttf');
    font-weight: 900 800 700 600 500 400 300 200;
}

body{
    min-height: 100vh;
    width: 100%;
    font-family: "Satoshi", cursive;
}
.container{
    margin: 0 auto;
}
.header{
    padding: 0.3rem;
}
.header_p{
    display: flex;
}
.header_img{
   height: 40px;
}
.header_p_1{
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 1.5;
    color: #0F2F66;
    padding-right: 14px;
}
.header_p_2{
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 1.5;
    color: #224E9C;
    padding-right: 16px;
}
.header_p_3{
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 1.5;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #224E9C;
}

/* End of Header Section */
/* Hero Section */
.left__rectangle{
    position: relative;
    background-color: rgba(255, 255, 255, 0.9); ;
    z-index: 1;
}

.left__rectangle::after{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../src/assets/images/latest.png');
    background-repeat:no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}
.Hero{
    width: 100%;
    padding-bottom: -20px;
}
.hero_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.hero_img > img{
    height: 0;
    width: 0;
}
.hero_h1_p{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: -40px;
}
.hero_h1_p > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 28px !important;
    line-height: 1.5;
    text-align: center;
    color: #0F2F66;
    margin-bottom:9px;
}
.hero_h1_p p:nth-child(2){
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #3B7980;
    margin-bottom: -16px;
}
.hero_h1_p p:nth-child(3){
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #3B7980;
    margin-bottom: -9px;
}
.hero__container-button{
    background: #005CE6;
    border-radius: 10px;
    padding: 9px 2.3rem;
    border: none;
    color: #fff;
    margin-bottom:10px;
    font-size: 12px;
    line-height: 1.5;
}
.hero__container1 img{
    height: 2.2rem;
}
.hero__container1{
    margin-bottom:-3rem;
}
.Shero__container1 > img{
    height: 2.0rem;
}

.Shero_h1_p > h1{
    font-size: 26px;
    line-height: 1.5;
    font-weight: bold;
    padding-bottom: 30px;
    margin-bottom:-2px;
}
.Shero_img > img{
    height: 0;
    width: 0;
    padding-bottom:0;

}
.SHome{
    width: 100%;
    background-image: url('../src/assets/images/empy-room.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;

}
.Shero_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom:-4rem;
}
.SFeature__container-2 > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.5;
    color: #0F2F66;
}
.hero__container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.SFeature{
    padding:24px 0px;
    width: 100%;
}
.Shero__button{
    background: #005CE6;
    border-radius: 10px;
    padding: 10px 2.3rem;
    border: none;
    color: #fff;
    margin-bottom:16px;
    font-size: 12px;
    line-height: 1.5;
}
.SFeature__container-1{
    padding-bottom: 5px;
    width: 80%;
    margin: 0 auto;
}
.SFeature__container-minor{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.SFeature__container-main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}
.SFeature__container-mini1{
    height: 70px;
}
.SFeature__container-mini2{
    font-weight: bold;
    margin-top: -5px;
    font-size: 18px;
    line-height: 1.5;
}
.SFeature__container-mini3{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top:-6px;
}
.SFeature__container-mini0{
    margin-bottom: 30px;
}
/* End of Hero Section */
/*Feature Section */
.feature{
    width: 100%;
    margin: 0 auto;
    padding: 24px 0;
    background: #ECF4FF;
}
.set_features{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

}
.feature_header{
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
}
.feature_h1 > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.5;
    color: #0F2F66;
    margin-top: 10px;
}
.features_card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0px;
}
.features_card_h1{
    font-style: normal;
    font-weight: bold;
    color: #0F2F66;
    padding-right: 30px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.5;
}
.feature__1 > img{
    padding-top: 20px;
    height: 70px;
    margin-bottom:-20px;
}
.features_card_p{
    font-style: normal;
    font-weight: normal;
    color: #0F2F66;
    padding-right: 30px;
    font-size: 16px;
    line-height: 1.5;
}
.SFeature__container-1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
}
.SFeature__container-2 > h1{
    font-size: 18px;
    line-height: 1.5;
}

/* End Of Feature Section */
/* Apartment Section */
.apartment{
    padding: 24px 0;
    width: 100%;
}
.SApartment{
    width: 100%;
}
.apartment_container{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

}
.SApartment__container-1{
    width: 80%;
    margin: 0 auto;

}
.SApartment__container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:-60px;
    margin-bottom: -60px;
}
.SApartment__container-4 > div > h1{
    font-size: 18px;
    line-height: 1.5;
    color: #3B7980;
    margin-bottom:-5px;
}
.SApartment__container-4 > div > p{
    font-size: 16px;
    line-height: 1.5;
    color: #3B7980;
    margin-bottom: -10px;
}
.SApartment__container-4 > img {
    height: 11rem;
    margin-bottom:-20px;
}
.span span  a{
    border-bottom: 1px solid black;
}
.apply__new{
    margin-top: -110px;
}
.apply__new  h1{
    margin-bottom: 7px;
}
.set_apartment{
    margin-bottom: -60px;
}
.set__apartment_group > div > h1{
    font-size: 18px;
    line-height: 1.5;

}
.set__apartment_group > div > p{
    font-size: 16px;
    line-height: 1.5;
}
.apartment_1 > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.5;
    text-align: center;
    color: #0F2F66;
    padding-bottom: 0;
}
.set__apartment_senior{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
}
.SApartment__container-5 > img{
    height: 0px;
}
.SApartment__container-5{
    height: 90px;
    margin-top:-60px;
}
.apply__late{
    margin-top: -90px;
}
.SApartment__container-i > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 24px !important;
    line-height: 1.5 !important;
    text-align: center;
    color: #0F2F66;

}
.set__apartment_junior > img{
    height: 0;
}
.set__apartment_group, h1, p{
    text-align: center;
}
/* End of Apartment Section */
/* LandLord Section */
.landlord {
    width: 100%;
}
.landlord_header{
    width: 80%;
}
.landlord_h1_p{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left:-10px;
}
.landlord_p_2{
    text-align:left;
}
.landlord_img > img{
    width: 180.53px;
    height: 250px;
    padding-top: 20px;

}
.landlord_h1_p > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: #0F2F66;
    margin-bottom: -10px;
}
.landlord_h1_p > button{
    background: #005CE6;
    border-radius: 10px;
    padding: 5px 20px;
    font-style: normal;
    font-size: 12px;
    line-height: 1.5;
    color: #FFFFFF;
    border: none;

}
.landlord_h1_p > p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: #3B7980;
    margin-bottom:-15px;
    width: 100%;
}

/* End of Landlord Section */
/* Newletter */
.letter{
    width: 100%;
}
.letter_1{
    width: 80%;
    margin: 0 auto;
}

.letter_button > a > button {
    background: #005CE6;
    border-radius: 10px 10px 10px 0px;
    padding:10px 50px;
    margin: 2rem;
    font-size: 1rem;
    border-style: none;
    margin-bottom: 70px;
    border-bottom-left-radius: 0px;
}
.letter_p_2 > p{
    padding-bottom: 1.5rem;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: #0F2F66;
}
.letter_p_2 > a > img{
    padding-bottom: 4rem;
    height: 110px;
}
.letter_p_3 > p{
    padding-bottom: 2rem;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: #0F2F66;
}
.fcmb{
    height: 5.7rem;
}
.letter_h1_1 > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
}
/* End of NewsLetter section */
/* footer Section */
.footer{
    width: 100%
}
.footer_c{
    width: 80%;
    margin: 0 auto;
}
.footer_c p:nth-child(2){
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
    color: #0F2F66;
    padding-bottom: 20px;
}
.footer_c p:nth-child(3){
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 1.5;
    color: #0F2F66;
}
.footer_img a img{
    padding-bottom:20px;
    height: 40px;
    margin-left: 20px;
}
/* End of Footer Section */
}
/* End of Phone of Screen */
